ObjectDetector/models/yolov5l-coco.onnx
ObjectDetector/models/yolov5m-coco.onnx
ObjectDetector/temp/歐森隆20210923-Lobby-1.avi
TrafficLaneDetector/models/culane_res18.onnx
TrafficLaneDetector/models/culane_res34.onnx
TrafficLaneDetector/temp/test_Trim.mp4
TrafficLaneDetector/temp/行車紀錄器-5.mp4
TrafficLaneDetector/temp/pic/test-1.jpg
TrafficLaneDetector/temp/pic/test-2.png
TrafficLaneDetector/temp/pic/test-3.png
TrafficLaneDetector/temp/pic/test-4.jpg
TrafficLaneDetector/temp/pic/test-5.png
TrafficLaneDetector/temp/test_video.mp4
TrafficLaneDetector/temp/test_video_out.mp4
ObjectDetector/models/yolov5e-Lite-320.onnx
ObjectDetector/models/yolov5g-Lite-640.onnx
ObjectDetector/models/yolov5s-Lite-416.onnx
ObjectDetector/models/yolov5e-Lite-320.trt
ObjectDetector/models/yolov5l-coco.trt
ObjectDetector/models/yolov5m-coco.trt
TrafficLaneDetector/models/culane_res18.trt
TrafficLaneDetector/models/culane_res34.trt
TrafficLaneDetector/models/tusimple_18.onnx
TrafficLaneDetector/models/tusimple_18.trt
TrafficLaneDetector/models/tusimple_res18.onnx
ObjectDetector/models/yolov5s-Lite-416.trt
ObjectDetector/models/yolov8l-coco.onnx
ObjectDetector/models/yolov8l-coco.trt
ObjectDetector/models/yolov8m-coco.onnx
ObjectDetector/models/yolov8m-coco.trt
TrafficLaneDetector/temp/test_Trim_out.mp4
TrafficLaneDetector/temp/行車紀錄器-5_out.mp4
TrafficLaneDetector/temp/行車紀錄器-10_out.mp4
TrafficLaneDetector/temp/行車紀錄器-10.mp4
TrafficLaneDetector/models/culane_18.onnx
TrafficLaneDetector/temp/行車紀錄器-6.mp4
TrafficLaneDetector/temp/demo-1.mp4
TrafficLaneDetector/temp/demo-1_out.mp4
TrafficLaneDetector/temp/demo-2.mp4
TrafficLaneDetector/temp/demo-3.mp4
TrafficLaneDetector/temp/demo-4.mp4
TrafficLaneDetector/temp/demo-5.mp4
ObjectDetector/models/yolov5g-Lite-640_fp16.onnx
ObjectDetector/models/yolov5l-coco_fp16.onnx
ObjectDetector/models/yolov5l-coco_fp16.trt
ObjectDetector/models/yolov5s-Lite-416_fp32.onnx
ObjectDetector/models/yolov5s-Lite-416_fp32.trt
ObjectDetector/models/yolov8l-coco_fp16.onnx
ObjectDetector/models/yolov8l-coco_fp16.trt
ObjectDetector/models/yolov8m-coco_fp16.onnx
ObjectDetector/models/yolov8m-coco_fp16.trt
TrafficLaneDetector/models/culane_res18_fp16.onnx
TrafficLaneDetector/models/culane_res18_fp16.trt
TrafficLaneDetector/models/culane_res34_fp32.onnx
TrafficLaneDetector/models/culane_res34_fp32.trt
TrafficLaneDetector/models/tusimple_18_fp16.onnx
